main{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 80vh;
    max-height: 100%;

    background-color: #A1778E;
    .container{
        .contato{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2vh;

            width: 80vw;
            padding: 4vh 0;
            height: 60vh;
            border: 2px solid black;
            background-color: #e7bcd4;
            border-bottom-left-radius: 20px;
            border-bottom-right-radius: 20px;
            
            h2{
                text-align: center;
                font-size: 2.5vh;
            }

            .inputs{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                
                width: 90%;

                input{
                    width: 48%;
                    padding: 7px;
                    font-size: 1.5em;
                }
            }
            
            textarea{
                width: 90%;
                padding: 7px;
                height: 25vh;
                font-size: 1.5em;
                resize: none;
            }

                button{
                    color: whitesmoke;
                    width: 90%;
                    padding: 1vh 4vw 2vh;
                    background-color: #4E203A;
                    font-size: 4vh;
                    cursor: pointer;
                    border: none;
                    border-radius: 10px;
                }

                button:active{

                    border-bottom: 2px solid black;
                    border-right:2px solid black;

                }

             }    
         }
}


@media (min-width:800px){
    main{
        .alunos{
            width: 44vw;
            padding: 0;
            min-height: 60vh;

            h2{
                font-size: 2vh;
            }
        }
    }
}

@media (min-width: 1300px){

    main{

        .container{

            .contato{
                width: 50vw;
                .inputs{}

            }
            
        }

    }

}

